* {
    text-align: center;
}

h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin-left: 25px;
    font-size: 40px;
}

h4 {
    font-weight: bold;
}

#container {
    vertical-align: top;
    display: flex;
    width: 950px;
}

#pokedex {
    border: red 15px solid;
    height: 500px;
    width: 200px;
}

img {
    display: inline-block;
    width: 100px;
    margin: 10px 10px 10px 10px;
}